<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/howl.css" rel="stylesheet" />
  <title>Main page</title>
</head>

  <header>
    <nav>
      <h1><a href=".">Howling</a></h1>
    </nav>
  </header>
  
<body>
    <form action="/api/howls" method="POST">
    <div class="container">
    <label for="howl">Howl: </label>
    
	<div2 class="howlBox"><textarea id="howly" name="howl" rows="4" cols="50">
	</textarea>
	</div2>
    <button type="submit">Send</button>
    </form>
   
	<div1 class="box" id="p1"></div1>
	
	<div1 class="box" id="p2"></div1>
	<div1 class="box" id="p3"></div1>
	<div1 class="box" id="p4"></div1>
	<div1 class="box" id="p5"></div1>
	<div1 class="box" id="p6"></div1>
	<div1 class="box" id="p7"></div1>
	<div1 class="box" id="p8"></div1>
	<div1 class="box" id="p9"></div1>
	<div1 class="box" id="p10"></div1>
	<div1 class="box" id="p11"></div1>
	<div1 class="box" id="p12"></div1>
	<div1 class="box" id="p13"></div1>
	<div1 class="box" id="p14"></div1>
	<div1 class="box" id="p15"></div1>
	<div1 class="box" id="p16"></div1>
	<div1 class="box" id="p17"></div1>
	<div1 class="box" id="p18"></div1>
	<div1 class="box" id="p19"></div1>
	<div1 class="box" id="p20"></div1>
	<div1 class="box" id="p21"></div1>
	<div1 class="box" id="p22"></div1>
	<div1 class="box" id="p23"></div1>
	<div1 class="box" id="p24"></div1>
	<div1 class="box" id="p25"></div1>
	<div1 class="box" id="p26"></div1>
	<div1 class="box" id="p27"></div1>
	<div1 class="box" id="p28"></div1>
	<div1 class="box" id="p29"></div1>
	</div>
</body>
<script src="./static/js/home.js" type="module"></script>

</html> 
