<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="../../css/howl.css" rel="stylesheet" />

	<title>Profile</title>
	</head>
	<header>
	<nav>
	  <h1><a href=".">Howling</a></h1>
	</nav>
	</header>
	<body>
	<div2 class="container">
	<div4>
	<img id="imgid" src=""></img>
	<div3 class="box" id="h1">p1</div3>
	</div4>
	<select name="following" id="following"> </select>
	<h2>Howls</h2>
	<div1 class="box" id="p1"></div1>
	<div1 class="box" id="p2"></div1>
	<div1 class="box" id="p3"></div1>
	<div1 class="box" id="p4"></div1>
	<div1 class="box" id="p5"></div1>
	<div1 class="box" id="p6"></div1>
	<div1 class="box" id="p7"></div1>
	<div1 class="box" id="p8"></div1>
	<div1 class="box" id="p9"></div1>

</div2>
</body>
<script src="./static/js/profile.js" type="module"></script>

</html>
